<div class="container">
  <div class="row text-center">
    <div class="col-1"></div>
    <div class="col-10">
      <hr>
      <h1> Piedra, Papel, Tijera... </h1>
      <hr>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col col-4">
      <div class="card" style="width: 300px;">
        <img src="../../images/r.jpg" class="card-img-top" alt="..." height="350px">
        <div class="card-body">
          <h4 class="card-title">Elegir:</h4>
          <form action="/api/jugado/r" method="post" id="r">
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Piedra
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="card" style="width: 300px;">
        <img src="../../images/p.jpg" class="card-img-top" alt="..." height="350px">
        <div class="card-body">
          <h4 class="card-title">Elegir:</h4>
          <form action="/api/jugado/p" method="post" id="p">
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Papel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="card" style="width: 300px;">
        <img src="../../images/s.jpg" class="card-img-top" alt="..." height="350px">
        <div class="card-body">
          <h4 class="card-title">Elegir:</h4>
          <form action="/api/jugado/s" method="post" id="s">
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Tijeras
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>